@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600&display=swap');

$font: 'Onest', sans-serif;

$dark: #202326;
$accent: #2D1AA7;
$white: #F8F8FA;
$light: #F1F1F3;
$gray: #777;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_desk: 1024px;

html {
    font-size: 10px;
}
body {
    background-color: $white;
    font: 400 1.4rem/1.4 $font;
    color: $dark;
    overflow-x: hidden;
    margin: 0;
}
.container {
    box-sizing: border-box;
    max-width: 778px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0 0 0;
    &_mob {
        @media (min-width: $r_tab) {
            display: none;
        }
    }
    &_desc {
        display: none;
        @media (min-width: $r_tab) {
            display: flex;
            align-items: center;
            gap: 6.3rem;
        }
    }
    &__logo {
        text-decoration: none;
        width: 104px;
        height: 12.9px;
        flex-grow: 1;
    }
    &__burger {
        border: none;
        background-color: transparent;
        width: 20px;
        height: 8px;
        background-image: url(/img/burger.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__list {
        display: flex;
        gap: 3.35rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $dark;
        transition: .3s;
        &:hover {
            color: $accent;
        }
        & span, & svg {
            transition: .3s;
        }
        & span {
            color: $dark;
            &:hover {
                color: $accent;
            }
        }
        & svg {
            stroke: $dark;
        }
        &:hover svg {
            stroke: $accent;
        }
    }
    &__drop {
        & .drop__head {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        & .drop__items {
            width: 197px;
            top: 150%;
            padding: 1.2rem 0rem 1.4rem 1.5rem;
        }
        & .drop__item {
            font-size: 1.3rem;
            font-weight: 400;
            color: $dark;
            padding: 0;
            letter-spacing: 0.13px;
            border: none;
            &:hover {
                color: $accent;
                border: none;
                background: transparent;
            }
        }
        & .drop__item + .drop__item {
            padding-top: .75rem;
        }
        & .drop__input {
            &:checked {
                & ~ .drop__head svg {
                    transform: rotate(180deg);
                }
                & ~ .drop__head span {
                    color: $accent;
                }
            }
        }
    }
    &__btn {
        max-width: 14.5rem;
        padding: 1.2rem !important;
    }
}

.btn {
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10rem;
    background-color: $accent;
    color: #FFF;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1.7rem;
    box-shadow: none;
    transition: .3s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 6px 0px;
    }
}

.title {
    font-size: clamp(3.4rem, 5vw, 5.2rem);
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.68px;
    @media (min-width: $r_tab) {
        letter-spacing: -1.04px;
    }
    &_medium {
        font-size: clamp(2.8rem, 3.5vw, 4rem);
        font-weight: 500;
        letter-spacing: -0.28px;
        line-height: 1.14;
        @media (min-width: $r_tab) {
            letter-spacing: -0.8px;
        }
    }
    &_mini {
        font-size: clamp(2.2rem, 2.5vw, 2.8rem);
        font-weight: 500;
        letter-spacing: -0.22px;
        @media (min-width: $r_tab) {
            letter-spacing: -0.56px;
        }
    }
    &_min {
        font-size: 1.1rem;
        letter-spacing: 0.22px;
        text-transform: uppercase;
    }
}

.banner {
    margin-top: clamp(4.4rem, 0.4773rem + 11.3636vw, 12.4rem);
    position: relative;
    &__description {
        margin-top: .6rem;
        margin-bottom: 0;
        line-height: 20px;
        &_mob {
            @media (min-width: $r_tab) {
                display: none;
            }
        }
        &_desk {
            display: none;
            @media (min-width: $r_tab) {
                display: block;
                margin-top: .7rem;
            }
        }
    }
    &__books {
        margin-top: 2.1rem;
        width: 100%;
        height: 100%;
        padding-bottom: .9rem;
        overflow-x: scroll;
        position: relative;
        @media (min-width: $r_tab) {
            margin-top: 2.5rem;
        }
        &::-webkit-scrollbar {
            height: .4rem;
            background-color: #ECECF3;
            border-radius: 1rem;
            @media (min-width: $r_tab) {
                display: none;        
            }
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: $accent;
            @media (min-width: $r_tab) {
                display: none;      
            }
        }
        &::after {
            @media (min-width: $r_tab) {
                content: '';
                border: 10px solid rgba(0, 0, 0, 0);
                border-bottom: 17px solid #F8F8FA;
                position: absolute;
                bottom: 1.2rem;
                left: 7.7rem;
            }
        }
    }
    &__img {
        height: 33rem;
    }
    &__date {
        display: none;
        @media (min-width: $r_tab) {
            display: block;
            position: absolute;
            top: 11.5rem;
            right: 1.5rem;
            border-radius: 18px;
            background: rgba(255, 255, 255, .9);
            text-align: center;
            padding: 2rem 2.8rem 2.3rem;
        }
    }
    &__num {
        font-size: 2.4rem;
        font-weight: 500;
        &::after {
            content: '';
            border: 5px solid rgba(0, 0, 0, 0);
            border-left: 7px solid #202326;
            position: absolute;
            top: 3rem;
            left: 7.5rem;
        }
    }
    &__month {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 0;
    }
}

.quote {
    margin-top: 5rem;
    border-top: 2px solid #ECECF3;
    padding-top: 2.5rem;
    @media (min-width: $r_tab) {
        margin-top: 7.7rem;
    }
    &__text {
        font-size: clamp(1.8rem, 2vw, 2.2rem);
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        margin: 1.4rem 0 0 0;
        @media (min-width: $r_tab) {
            margin: 2.8rem 0 0 0;
            flex-direction: row;
            gap: 2rem;
        }
        &::before {
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 38px;
            height: 38px;
            display: block;
            background-image: url(/img/quote.svg);
            background-size: contain;
            @media (min-width: $r_tab) {
                flex-basis: 29%;
            }
        }
    }
    &__author {
        font-size: 1.5rem;
        color: $gray;
        margin: 1.4rem 0 0 0;
        @media (min-width: $r_tab) {
            font-size: 1.6rem;
            margin: 2.8rem 0 0 5.9rem;
        }
    }
}

.ad {
    margin-top: 5rem;
    background-color: $light;
    padding: 2rem 0 4.4rem 0;
    @media (min-width: $r_tab) {
        margin-top: 8rem;
        padding: 6rem 0 7.4rem 0;
    }
    &__box {
        margin: 0 auto;
        max-width: 61rem;
    }
    &__img {
        width: auto;
        height: 20rem;
        background-image: url(/img/ad.jpg);
        background-size: cover;
        background-position: 25%;
        background-repeat: no-repeat;
        @media (min-width: $r_mob_500) {
            height: 24.6rem;
        }
    }
    &__text {
        font-size: 1.2rem;
        margin: 2rem 0 0 0;
        @media (min-width: $r_tab) {
            margin: 1.5rem 0 0 0;
        }
    }
}

.conclusion {
    margin-top: 3rem;
    @media (min-width: $r_tab) {
        margin-top: 4.7rem;
    }
    &__text {
        margin: .8rem 0 0 0;
        line-height: 1.5;
        letter-spacing: 0.14px;
        @media (min-width: $r_tab) {
            margin: 1.6rem 0 0 0;
            font-size: 1.6rem;
            line-height: 1.6;
            letter-spacing: 0.16px;
        }
    }
}

.feedback {
    margin-top: 5rem;
    background-color: $light;
    padding: 2.2rem 0 5rem 0;
    @media (min-width: $r_tab) {
        margin-top: 8rem;
        padding: 5rem 0 8.8rem 0;
    }
    &__form {
        margin-top: 3rem;
        @media (min-width: $r_tab) {
            margin-top: 4rem;
        }
    }
}
.rating {
    margin-top: 3rem;
    @media (min-width: $r_tab) {
        margin-top: 3.3rem;
    }
    &__box {
        margin-top: .8rem;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__count {
        font-size: 2.8rem;
        font-weight: 500;
    }
    &__area {
        display: inline-flex;
        gap: 4px;
        &:hover label svg {
            fill: #FFB400;
        }
        & input {
            position: absolute;
            left: -9999px;
            &:checked ~ label svg {
                fill: #D7D7E2;
            }
            &:hover ~ label svg {
                fill: #D7D7E2;
            }
        }
        & label {
            margin: 0;
            cursor: pointer;
            & svg {
                height: 27px;
                width: 27px;
                fill: #FFB400;
                transition: fill 0.3s;
            }
        }
    }
}
.form {
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    @media (min-width: $r_tab) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    &__input, &__textarea {
        background: #FFF;
        border-radius: 1rem;
        border: 1px solid #EDEDF1;
        font-size: 1.4rem;
        letter-spacing: .2px;
        color: $dark;
        width: 100%;
        box-sizing: border-box;
        padding: 1.5rem;
        transition: .3s;
        &:focus {
            outline: none;
            border: 1px solid $accent;
        }
    }
    &__inputbox {
        position: relative;
    }
    &__input:focus, &__input:not(:focus):valid {
        & ~ .form__placeholder {
            font-size: .9rem;
            transform: translateY(-11px);
        }
    }
    &__placeholder {
        color: $gray;
        position: absolute;
        display: inline-block;
        font-size: 1.4rem;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 1111;
        transition: .3s;

    }
    &__textarea {
        font-family: $font;
        resize: none;
        height: 14.5rem;
        padding: 1.4rem 0 0 1.4rem;
        position: relative;
        &:focus, &:not(:focus):valid {
            & ~ .form__placeholder {
                font-size: .9rem;
                transform: translateX(-10px) translateY(-10px);
            }
        }
        @media (min-width: $r_tab) {
            grid-column: 1 / 4;
        }
    }
    &__btn {
        margin-top: 2rem;
        @media (min-width: $r_tab) {
            max-width: 13.3rem;
            margin-top: 2.3rem;
        }
    }
}

.drop {
    display: block;
    position: relative;
    &__input {
        display: none;
        &:checked {
            & ~ .drop__items {
                opacity: 1;
                max-height: 400px;
            }
            & ~ .drop__control{       
                z-index:99;
                border: 1px solid $accent;
                &:after {
                    transform: rotate(180deg);
                }
            }
            & ~ .overlay-close {
                pointer-events: initial;
            }
        }
    }
    &__control {
        color: $gray;
        background: #FFF;
        border-radius: 1rem;
        border: 1px solid #EDEDF1;
        width: 100%;
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease;
        &:after {
            content:"";
            display: inline-block;      
            height: 1.1rem;
            width: 1.2rem;
            background-image: url(/img/vector.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;      
            transition: transform .2s ease;
        }
    }
    &__items {
        position: absolute;
        top: 105%;
        font-size: 1.4rem;
        border-radius: .6rem;
        background: #FFF;
        box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
        max-height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        z-index: 99;
        box-sizing: border-box;
        transition: all .2s ease;
    }
    &__item {
        list-style: none;
        background: #FFF;
        padding: 1.4rem 0rem 1.3rem 1rem;
        border-left: 7px solid transparent;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background: $light;
            border-left: 7px solid $accent;
        }     
    }
    & .overlay-close {
      position: fixed;    
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9;
      transform: translate(100%, 0);
      pointer-events: none;
    }
}

.posts {
    margin-top: 3rem;
    @media (min-width: $r_tab) {
        margin-top: 5.5rem;
    }
}
.swiper {
    margin-top: 1.8rem;
    margin-bottom: 6.6rem;
    @media (min-width: $r_tab) {
        margin-top: 2.7rem;
    }
}
.swiper-wrapper {
    padding-bottom: 4.25rem;
}
.swiper-slide {
    &__content {
        margin: 0 auto;
        max-width: 280px;
        @media (min-width: $r_mob_500) {
            max-width: 226px;
        }
    }
    &__thumb {
        border-radius: 2rem;
        width: 100%;
    }
    &__date {
        font-size: 1.2rem;
        color: $gray;
        margin: .6rem 0 0 0;
    }
    & h3 {
        margin: 0.5rem 0 0 0;
    }
    &__title {
        color: $dark;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        transition: .3s;
        &:hover {
            color: $accent;
        }
    }
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: -6px;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: gray;
    margin: 0 !important;
}
.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: $accent;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11111;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba($dark, .7);
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
    &__dialog {
        max-width: 380px;
        margin: 16rem auto;
    }
    &__content {
        position: relative;
        max-width: 380px;
        padding: 2rem 2.6rem;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.05);
    }
    &__close {
        position: absolute;
        top: 13px;
        right: 13px;
        cursor: pointer;
    }
    &__text {
        font-size: 1.2rem;
        margin: 1rem 0 2.2rem 0;
        @media (min-width: $r_tab) {
            margin: .8rem 0 2.9rem 0;
        }
    }
    & .form__inputbox + .form__inputbox {
        margin-top: 1.2rem;
    }
    & .btn {
        margin-top: 2.2rem;
    }
    &__agreement {
        font-size: 1rem;
        text-align: center;
        margin: 6rem 0 0 0;
        & a {
            text-decoration: none;
            color: $accent;
        }
    }
}