@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600&display=swap");
html {
  font-size: 10px;
}

body {
  background-color: #F8F8FA;
  font: 400 1.4rem/1.4 "Onest", sans-serif;
  color: #202326;
  overflow-x: hidden;
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 778px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 0 0 0;
}
@media (min-width: 768px) {
  .header_mob {
    display: none;
  }
}
.header_desc {
  display: none;
}
@media (min-width: 768px) {
  .header_desc {
    display: flex;
    align-items: center;
    gap: 6.3rem;
  }
}
.header__logo {
  text-decoration: none;
  width: 104px;
  height: 12.9px;
  flex-grow: 1;
}
.header__burger {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 8px;
  background-image: url(/img/burger.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.header__list {
  display: flex;
  gap: 3.35rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #202326;
  transition: 0.3s;
}
.header__link:hover {
  color: #2D1AA7;
}
.header__link:hover svg {
  stroke: #2D1AA7;
}
.header__link span, .header__link svg {
  transition: 0.3s;
}
.header__link span {
  color: #202326;
}
.header__link span:hover {
  color: #2D1AA7;
}
.header__link svg {
  stroke: #202326;
}
.header__drop .drop__head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__drop .drop__items {
  width: 197px;
  top: 150%;
  padding: 1.2rem 0rem 1.4rem 1.5rem;
}
.header__drop .drop__item {
  font-size: 1.3rem;
  font-weight: 400;
  color: #202326;
  padding: 0;
  letter-spacing: 0.13px;
  border: none;
}
.header__drop .drop__item:hover {
  color: #2D1AA7;
  border: none;
  background: transparent;
}
.header__drop .drop__item + .drop__item {
  padding-top: 0.75rem;
}
.header__drop .drop__input:checked ~ .drop__head svg {
  transform: rotate(180deg);
  stroke: #2D1AA7;
}
.header__drop .drop__input:checked ~ .drop__head span {
  color: #2D1AA7;
}
.header__btn {
  max-width: 14.5rem;
  padding: 1.2rem !important;
}

.btn {
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10rem;
  background-color: #2D1AA7;
  color: #FFF;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1.7rem;
  box-shadow: none;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 6px 0px;
}

.title {
  font-size: clamp(3.4rem, 5vw, 5.2rem);
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.68px;
}
@media (min-width: 768px) {
  .title {
    letter-spacing: -1.04px;
  }
}
.title_medium {
  font-size: clamp(2.8rem, 4vw, 4rem);
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 1.14;
}
@media (min-width: 768px) {
  .title_medium {
    letter-spacing: -0.8px;
  }
}
.title_mini {
  font-size: clamp(2.2rem, 2.5vw, 2.8rem);
  font-weight: 500;
  letter-spacing: -0.22px;
}
@media (min-width: 768px) {
  .title_mini {
    font-size: 2.8rem;
    letter-spacing: -0.56px;
  }
}
.title_min {
  font-size: 1.1rem;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.banner {
  margin-top: clamp(4.4rem, 0.4773rem + 11.3636vw, 12.4rem);
  position: relative;
}
.banner__description {
  margin-top: 0.6rem;
  margin-bottom: 0;
  line-height: 20px;
}
@media (min-width: 768px) {
  .banner__description_mob {
    display: none;
  }
}
.banner__description_desk {
  display: none;
}
@media (min-width: 768px) {
  .banner__description_desk {
    display: block;
    margin-top: 0.7rem;
  }
}
.banner__books {
  margin-top: 2.1rem;
  width: 100%;
  height: 100%;
  padding-bottom: 0.9rem;
  overflow-x: scroll;
  position: relative;
}
@media (min-width: 768px) {
  .banner__books {
    margin-top: 2.5rem;
  }
}
.banner__books::-webkit-scrollbar {
  height: 0.4rem;
  background-color: #ECECF3;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .banner__books::-webkit-scrollbar {
    display: none;
  }
}
.banner__books::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #2D1AA7;
}
@media (min-width: 768px) {
  .banner__books::-webkit-scrollbar-thumb {
    display: none;
  }
}
@media (min-width: 768px) {
  .banner__books::after {
    content: "";
    border: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 17px solid #F8F8FA;
    position: absolute;
    bottom: 1.2rem;
    left: 7.7rem;
  }
}
.banner__img {
  height: 33rem;
}
.banner__date {
  display: none;
}
@media (min-width: 768px) {
  .banner__date {
    display: block;
    position: absolute;
    top: 11.5rem;
    right: 1.5rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 2rem 2.8rem 2.3rem;
  }
}
.banner__num {
  font-size: 2.4rem;
  font-weight: 500;
}
.banner__num::after {
  content: "";
  border: 5px solid rgba(0, 0, 0, 0);
  border-left: 7px solid #202326;
  position: absolute;
  top: 3rem;
  left: 7.5rem;
}
.banner__month {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.quote {
  margin-top: 5rem;
  border-top: none;
}
@media (min-width: 768px) {
  .quote {
    margin-top: 7.7rem;
    border-top: 2px solid #ECECF3;
    padding-top: 2.5rem;
  }
}
.quote__text {
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin: 1.4rem 0 0 0;
}
@media (min-width: 768px) {
  .quote__text {
    font-size: 2.2rem;
    margin: 2.8rem 0 0 0;
    flex-direction: row;
    gap: 2rem;
  }
}
.quote__text::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  display: block;
  background-image: url(/img/quote.svg);
  background-size: contain;
}
@media (min-width: 768px) {
  .quote__text::before {
    flex-basis: 29%;
  }
}
.quote__author {
  font-size: 1.5rem;
  color: #777;
  margin: 1.4rem 0 0 0;
}
@media (min-width: 768px) {
  .quote__author {
    font-size: 1.6rem;
    margin: 2.8rem 0 0 5.9rem;
  }
}

.ad {
  margin-top: 5rem;
  background-color: #F1F1F3;
  padding: 2rem 0 4.4rem 0;
}
@media (min-width: 768px) {
  .ad {
    margin-top: 8rem;
    padding: 6rem 0 7.4rem 0;
  }
}
.ad__box {
  margin: 0 auto;
  max-width: 61rem;
}
.ad__img {
  width: auto;
  height: 20rem;
  background-image: url(/img/ad.jpg);
  background-size: cover;
  background-position: 25%;
  background-repeat: no-repeat;
}
@media (min-width: 500px) {
  .ad__img {
    height: 24.6rem;
  }
}
.ad__text {
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}
@media (min-width: 768px) {
  .ad__text {
    margin: 1.5rem 0 0 0;
  }
}

.conclusion {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .conclusion {
    margin-top: 4.7rem;
  }
}
.conclusion__text {
  margin: 0.8rem 0 0 0;
  line-height: 1.5;
  letter-spacing: 0.14px;
}
@media (min-width: 768px) {
  .conclusion__text {
    margin: 1.6rem 0 0 0;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.16px;
  }
}

.feedback {
  margin-top: 5rem;
  background-color: #F1F1F3;
  padding: 2.2rem 0 5rem 0;
}
@media (min-width: 768px) {
  .feedback {
    margin-top: 8rem;
    padding: 5rem 0 8.8rem 0;
  }
}
.feedback__form {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .feedback__form {
    margin-top: 4rem;
  }
}

.rating {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .rating {
    margin-top: 3.3rem;
  }
}
.rating__box {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating__count {
  font-size: 2.8rem;
  font-weight: 500;
}
.rating__area {
  display: inline-flex;
  gap: 4px;
}
.rating__area:hover label svg {
  fill: #FFB400;
}
.rating__area input {
  position: absolute;
  left: -9999px;
}
.rating__area input:checked ~ label svg {
  fill: #D7D7E2;
}
.rating__area input:hover ~ label svg {
  fill: #D7D7E2;
}
.rating__area label {
  margin: 0;
  cursor: pointer;
}
.rating__area label svg {
  height: 27px;
  width: 27px;
  fill: #FFB400;
  transition: fill 0.3s;
}

.form {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.form__input, .form__textarea {
  background: #FFF;
  border-radius: 1rem;
  border: 1px solid #EDEDF1;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  color: #202326;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  transition: 0.3s;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border: 1px solid #2D1AA7;
}
.form__inputbox {
  position: relative;
}
.form__input:focus ~ .form__placeholder, .form__input:not(:focus):valid ~ .form__placeholder {
  font-size: 0.9rem;
  transform: translateY(-11px);
}
.form__placeholder {
  color: #777;
  position: absolute;
  display: inline-block;
  font-size: 1.4rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1111;
  transition: 0.3s;
}
.form__textarea {
  font-family: "Onest", sans-serif;
  resize: none;
  height: 19.5rem;
  padding: 1.4rem 0 0 1.4rem;
  position: relative;
}
@media (min-width: 768px) {
  .form__textarea {
    grid-column: 1/4;
    height: 14.5rem;
  }
}
.form__btn {
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .form__btn {
    max-width: 13.3rem;
    margin-top: 2.3rem;
  }
}

.drop {
  display: block;
  position: relative;
}
.drop__input {
  display: none;
}
.drop__input:checked ~ .drop__items {
  opacity: 1;
  max-height: 400px;
}
.drop__input:checked ~ .drop__control {
  z-index: 99;
  border: 1px solid #2D1AA7;
}
.drop__input:checked ~ .drop__control:after {
  transform: rotate(180deg);
}
.drop__input:checked ~ .overlay-close {
  pointer-events: initial;
}
.drop__control {
  color: #777;
  background: #FFF;
  border-radius: 1rem;
  border: 1px solid #EDEDF1;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.drop__control:after {
  content: "";
  display: inline-block;
  height: 1.1rem;
  width: 1.2rem;
  background-image: url(/img/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
}
.drop__items {
  position: absolute;
  top: 105%;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  background: #FFF;
  box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 99;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.drop__item {
  list-style: none;
  background: #FFF;
  padding: 1.4rem 0rem 1.3rem 1rem;
  border-left: 7px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.drop__item:hover {
  background: #F1F1F3;
  border-left: 7px solid #2D1AA7;
}
.drop .overlay-close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  transform: translate(100%, 0);
  pointer-events: none;
}

.posts {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .posts {
    margin-top: 5.5rem;
  }
}

.swiper {
  margin-top: 1.8rem;
  margin-bottom: 6.6rem;
}
@media (min-width: 768px) {
  .swiper {
    margin-top: 2.7rem;
  }
}

.swiper-wrapper {
  padding-bottom: 4.25rem;
}

.swiper-slide__content {
  margin: 0 auto;
  max-width: 280px;
}
@media (min-width: 500px) {
  .swiper-slide__content {
    max-width: 226px;
  }
}
.swiper-slide__thumb {
  border-radius: 2rem;
  width: 100%;
}
.swiper-slide__date {
  font-size: 1.2rem;
  color: #777;
  margin: 0.6rem 0 0 0;
}
.swiper-slide__title {
  margin: 0.5rem 0 0 0;
}
.swiper-slide__titlelink {
  color: #202326;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
}
.swiper-slide__titlelink:hover {
  color: #2D1AA7;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: -6px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: gray;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background: #2D1AA7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11111;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(32, 35, 38, 0.7);
}
.modal.show {
  display: block;
}
.modal.hide {
  display: none;
}
.modal__dialog {
  max-width: 380px;
  margin: 16rem auto;
}
.modal__content {
  position: relative;
  max-width: 380px;
  padding: 1rem 2rem 2.25rem;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
  .modal__content {
    padding: 1.5rem 2.8rem 2.25rem;
  }
}
.modal__close {
  position: absolute;
  top: 13px;
  right: 13px;
  cursor: pointer;
}
.modal__text {
  font-size: 1.2rem;
  margin: 1rem 0 2.2rem 0;
}
@media (min-width: 768px) {
  .modal__text {
    margin: 0.5rem 0 3rem 0;
    letter-spacing: 0.12px;
  }
}
.modal .form__inputbox + .form__inputbox {
  margin-top: 1.2rem;
}
.modal .btn {
  margin-top: 2.5rem;
}
.modal__agreement {
  font-size: 1rem;
  text-align: center;
  margin: 6rem 0 0 0;
}
@media (min-width: 768px) {
  .modal__agreement {
    letter-spacing: 0.12px;
    line-height: 1.5;
  }
}
.modal__agreement a {
  text-decoration: none;
  color: #2D1AA7;
}/*# sourceMappingURL=main.css.map */